[Unit]
Description=ML Platform new

[Service]
WorkingDirectory=/opt/test/game-ai-ui/game-ai-ui
ExecStart=/usr/bin/python app.py
Restart=always

[Install]
WantedBy=multi-user.target
