<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="static/js/admin.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div class="jumbotron">
        <h1>ML Platform</h1>
    </div>
    <div class="container">
        <div class ="col-md-3" id="envs"></div>
        <div class ="col-md-3">
            <button type="button" id='remove'>Remove</button>
        </div>
    </div>
</body>
</html>
