<link rel="stylesheet" href="/static/css/style.css" type="text/css">
{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}

        {% if data %}
        <h3>{{data}}</h3>
        {% else %}

        <a href="/logout">Logout</a> <br> <br>
        <form action="" method="POST">
          <input type="username" name="username" placeholder="Instagram Username">
          <input type="submit" value="Finds">
        </form>
        {% endif %}

{% else %}
<p>Please Register or Login</p>
<p>
<a href="/login">Login</a>
</p>

<p>
<a href="/register">Register</a>
</p>
{% endif %}
{% endblock %}

