<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div class="jumbotron">
        <h1>ML Platform</h1>
    </div>
    <div class="container">
    <div class ="col-md-4">
        <div id="projectname">
               <input type="radio" name="projectname" value="R" checked="checked"> R programming<br>
               <input type="radio" name="projectname" value="sentimentalanalysis"> Movie review Analysis<br>
               <input type="radio" name="projectname" value="antivirus"> Antivirus Demo<br>
        </div>
        <div>
            <p>
                <a href="" target="_blank" class="button" id="vnc_frame_src">Go to Console</a>
            </p>
            <p id="ssh_command">

            </p>
        </div>

        <textarea class="textarea" id='file'></textarea>
    </div>
    <div class ="col-md-1">
        <div>
            <select id='language'>
                <option value="python">Python</option>
                <option value="python3">Python3</option>
            </select>
        </div></br>
        <div><button type="button" id='save'>Save</button> </div></br>
        <div><button type="button" id='run'>Run</button></div></br>
        <div><button type="button" id='delete'>Delete</button></div></br> 
        <div><button type="button" id='getlastlog'>Logs</button></div>
    </div>
    <div class ="col-md-7">
        <textarea class="textarea" id='log'></textarea>
    </div>
    </div>
    <div class="container">
        <div><button type="button" id='clear'>Clear</button></div>
    </div>
</body>
</html>
