<!DOCTYPE html>
<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script src="static/js/app.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body>
    <div class="jumbotron">
        <h1>ML Platform</h1>
    </div>
    <div class="container">
    <div class ="col-md-4">
        <textarea class="textarea" id='file'></textarea>
    </div>
    <div class ="col-md-1">
        <div><button type="button" id='save'>Save</button> </div></br>
        <div><button type="button" id='run'>Run</button></div>
    </div>
    <div class ="col-md-7">
        <iframe class="vnc_frame" id='vnc_frame'></iframe>
    </div>
    </div>
</body>
</html>
