.textarea{
    height: 800px;
    width: 100%;
}

.jumbotron{
    padding: 10px !important;
}

.vnc_frame{
    display: block;
    width: 100%;
    height: 800px;
}

.container{
    width: 100% !important;
}

.log_container{
    border:1px solid black;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    height: 400px;
    overflow-y: auto;
}
