.textarea{
    height: 800px;
    width: 100%;
}

.jumbotron{
    padding: 10px !important;
}

.vnc_frame{
    display: block;
    width: 100%;
    height: 800px;
}

.container{
    width: 100% !important;
}
