body{
    background-color: #132a3c!important;
}
.navbar-brand{
    color: white!important;
}
.textarea{
    height: 500px!important;
    color: white;
    width: 100%!important;
    background: transparent;
    border: none!important;
    border-color: transparent!important;
}
.video_custom {
    background-color: #0f0f0f;
    height: 260px!important;
    width: 100%!important;
}
.section{
    padding: 3px!important;
}
.panel_custom{
    background: #ffffff;
}
.panel-title{
    color:#9E9E9E!important;
    height: 40px;
    background-color: #2a2e37;
}
.panel-learn{
    color:#254762!important;
    height: 40px;
    background-color: #d4d5d7;
}
.center-custom p{
    font-size: 15px;
    padding: 10px;
}
.topic_panel{
    height: 150px;
    padding: 20px;
}
.option_panel{
    height: 600px!important;
    background-color: #feeeee;
}
.options_custom{
    padding: 20px;
}
.learn{
    height: 640px!important;
    background-color: #ffffff;!important;
}
.script{
    padding: 15px;
    color: #ff877b;
    height: 560px!important;
}
.directory_custom {
    height: 580px!important;
}
.textarea_custom {
    height: 560px;
}
.result{
    height: 600px!important;
    background-color: #0f0f0f;!important;
    color: white;
}
.jumbotron{
    padding: 10px !important;
}
.vnc_frame{
    display: block;
    width: 100%;
    height: 600px;
}
.container{
    width: 100% !important;
}
.log_container{
    border:1px solid black;
    padding-top:5px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:5px;
    height: 400px;
    overflow-y: auto;
}
.btn{
    height:30px!important;
}
.btn_custom{
    padding: 5px!important;
}
