Flask
Flask-SQLAlchemy
flask_socketio
docker==3.1.1
docker-pycreds==0.2.2
psutil
gevent-websocket
eventlet
mysqlclient
#sudo apt-get build-dep python-mysqldb
tornado==5.0.2
pygments
mysql-python
flask_sqlalchem


